body {
  background: #000;
}

nav {
  position: relative;
}

#main-navbar {
  background-color: #121212;
}

nav #logo {
  width: 50px;
}

nav #moviestar-title {
  position: absolute;
  color: #fff;
  bottom: -2px;
  font-size: 30px;
  left: 55px;
  font-weight: bolder;
}

#search-form {
  margin: 0 auto;
  background-color: #fff;
  border-radius: 5px;
  width: 50%;
  margin-left: 180px;
}

#search-form .form-control {
  border: none;
  width: 90%;
}

#main-navbar {
  min-width: 30%;
}

.navbar-nav {
  justify-content: flex-end;
  width: 100%;
}



