$primary-color: #fff;
$logo-width: 50px;
$title-font-size: 30px;
$title-left: 55px;


nav {
  position: relative;

  #logo {
    width: $logo-width;
  }

  #moviestar-title {
    position: absolute;
    color: $primary-color;
    bottom: -2px;
    font-size: $title-font-size;
    left: $title-left;
    font-weight: bolder;
  }
}
